h1 {
  text-align: center;
}

button {

  background-color: white;
}

.container {
  text-align: center;
}

.click {
  cursor: pointer;
}

.click:hover {
  opacity: 1;
  transform: scale(2);
  transition-duration: 0.5s;
}

.image {
  width: 25%;
  height: auto;
  text-align: center;

}

ul.a {
  list-style-type: square;
  text-align: center;
}

.form {
  color: black;
  text-align: center;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 2px 2px lightgray;
  margin: 5px;
  margin-top: -1px;
  margin-right: -7px;
  margin-left: -7px;

}